<!--
==========================================
  Title: Components
  Author: Professor Krasso
  Modifier: Sarah Jean Baptiste
  Date: 08/4/2021
  Description: my detail component
==========================================
-->

<!-- List with name and favorites.-->
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">{{ myProfile.fullName }}</li>
  <li class="list-group-item">Favorite Food: {{ myProfile.favoriteFood }}</li>
  <li class="list-group-item">Favorite Color: {{ myProfile.favoriteColor }}</li>
  <li class="list-group-item">
    Keywords:
    <span *ngFor="let word of myProfile.keywords">
      {{ word }}
    </span>
  </li>
</ul>

