<!--
==========================================
  Title: composer-app
  Author: Professor Krasso
  Modifier: Sarah Jean Baptiste
  Date: 08/29/2021
  Description: composer-app
==========================================
-->

<!-- Main container for content.-->
<div class="container">
  <br/>

  <!-- Heading to display assignment -->
  <h3>Composer List</h3>
  <br/>

  <div class="textSearch">
    <input type="text" id="txtSearch" class="form-control" placeholder="Search by name" [formControl]="txtSearchControl" />
  </div>

  <table class="table">
    <thead class="alert alert-secondary">
      <tr>
        <th scope="col">Composer ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">Genre</th>
      </tr>
    </thead>
    <tbody *ngFor="let composer of composers | async">
      <tr>
        <td scope="row">
          <a routerLink="/composer-details/{{ composer.composerId }}">
            {{ composer.composerId }}
          </a>
        </td>
        <td> {{ composer.fullName }} </td>
        <td> {{ composer.genre }} </td>
      </tr>
    </tbody>
  </table>


</div>
