<!--
==========================================
  Title: composer-app
  Author: Professor Krasso
  Modifier: Sarah Jean Baptiste
  Date: 08/9/2021
  Description: composer-app
==========================================
-->

<!-- Main container for content.-->
<div class="container">
  <br/>

  <!-- Heading to display assignment component-->
  <h3>About</h3>
  <br/>

  <div class="row justify-content-start alert alert-secondary">
    <h3>Paul Simon</h3>
    <br/>
    <!--Left column to display my-image component-->
    <div class="col-xl-6">
    <br/>
      <img src="./assets/paul-simon-young.jpg.crdownload" width="100%" alt=" Young Paul Simon">
      <figcaption>&copy; rockandrollgarage.com</figcaption>
    </div>

    <!--Right column to display my-details component-->
    <div class="col-xl-6">
    <br/>
    <p>Paul Simon was born in October of 1941. Paul Simon was born in New Jersey but later moved to the big apple. Here, he met Art Garfunkel. The two became fast friends but their musical career was just as fast. Art Garfunkel left for art school and Paul Simon headed to college. While attending college he continued to write music. Later, the dup was reunited and with Garfunkel’s voice and Simon’s composing abilities, their music career finally took off! </p>
    </div>

  </div>
</div>


