<!--
==========================================
  Title: in-n-out book
  Author: Professor Krasso
  Modifier: Sarah Jean Baptiste
  Date: 09/08/2021
  Description: part four
==========================================
-->

<!--Div to hold all content-->
<div fxLayout="row wrap">

  <!--Div on left to navigation information-->
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class='card-title-icon'>
        <mat-icon color='primary'>navigation</mat-icon>
      </mat-card-title>

      <br/>

      <mat-card-content class='align-center'>
        <p>
          1234 llama Lane
        </p>
        <p>
          New York, NY
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!--Div on right to phone information-->
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class='card-title-icon'>
        <mat-icon color='primary'>phone</mat-icon>
      </mat-card-title>

      <br/>

      <mat-card-content class='align-center'>
        <p>
          Direct: #123-123-1234
        </p>
        <p>
          Toll-Free: #123-123-4567
        </p>
        <p>
          Fax: #123-123-7891
        </p>
      </mat-card-content>

    </mat-card>
  </div>

</div>

<br/>
<br/>
<br/>
<br/>

<!--Div to hold final content-->
<div fxLayout="column">
  <p style='text-align: center'>
    Visit us online or at one of our many great locations throughout New York City.
  </p>
</div>

