<!--
==========================================
  Title: gpa-calculator-app1
  Author: Professor Krasso
  Modifier: Sarah Jean Baptiste
  Date: 09/08/2021
  Description: gpa calculator app
==========================================
-->

<!-- Div to hold all content-->
<div fxLayout= 'column'>

    <!-- Card to hold main content-->
    <mat-card fxFlex style='margin-top: 10%; width: 50%; margin-left: 18%;' class='mat-elevation-z0 not-found'>
        <mat-card-title>
            <img src='.\assets\not-found-image.png'>
            <h1>404</h1>
            <h2>Page not found!</h2>
            <h3>Please use the button below to return home and try again...</h3>
        </mat-card-title>
<br/>
        <mat-card-content style='text-align: center; padding-left: 30%;'>
            <button mat-raised-button color='accent' routerLink='/'>Return Home</button> <!-- Return Home button-->
        </mat-card-content>

    </mat-card>
</div>

