.fees {
  font-size: large;
  padding: 10px;
  margin-top: 20px;

}

button{
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 20px;
}

.hero-image{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}


